header a:link, header a:visited {
  text-decoration: none;
  color: #2ebf91;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* background: linear-gradient(to left, #53A97A, #2EA7D8); */
  /* background: #2ebf91; */
  background-color: white;
}
h1 {
  border: solid 1px magenta;
  padding: 0;
  margin: 0;
  align-self: center;
}