header a:link, header a:visited {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #2ebf91;
}
h1 {
  padding: 1em;
  margin: 0;
  align-self: center;
}
h1 img {
  height: 1.5em;
  width: auto;
  margin: 0;
  padding: 0;
}