body {
  border: black 1px solid;
}
#logged-out-nav {
  background-color: white;
  background: white;
  display: none;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;

}
.login form {
  border-radius: 1em;
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient( #2ebf91, #8360c3);
}
form label {
  width: 80%;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.5em;
}
form input {
  border-radius: 1em;
  width: 80%;
  height: 8%;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  font-size: 1em;
  background-color: white;
  border: #515151 0px solid;
}
form button {
  border-radius: 0.5em;
  font-size: 1.5em;
  background: transparent;
  color: white;
}
form button:hover {
  background-color: #8360c3
}